$border: 1px solid rgba(0,0,0,.08);
$devborder: 1px solid rgb(170, 0, 255);

// body
body {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 10rem;
}

// container

.container {
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 3.375rem;
  .component {
    border-left: $border;
    // border: 1px solid green;
  }
}

.Logo {
  border: $devborder;
  display: block;
  width: 9.75rem;
  // height: 3.375rem;
}

.LocationPicker {
  border: $devborder;
  margin-right: auto;
  padding: 0 1rem 0 0;
  // height: 3.375rem;
  // position: absolute;
  right: 0;
}

// UserView.jsx

.UserView {
  border: $devborder;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  li {
    display: inline;
  }
}

.GuestView {
  border: $devborder;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  li {
    display: inline;
  }
}

// Search

.Search {
  border: $devborder;
}


// Breadcrumb

.breadcrumb {
  border: $devborder;
  display: flex;
  justify-content: flex-start;
}

.resData {
  display: flex;
  align-items: flex-end;
}
