.container {
  border: 5px solid #181112;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.locations {
  border: 5px solid #d11f8d;
  margin-right: auto;
}

.userview {
  display: flex;
  align-content: flex-end;
}

/* .upcoming {
  border: 5px solid #3a37da;
  margin-left: auto;
} */

/* .helloUser {
  border: 5px solid #45da37;
  /* align-self: flex-end; 
} */

.search {
  border: 5px solid #afda37;
  /* margin-left: auto; */
}