.currentRegion {
  font-family: Helvetica;
  display: flex;
}

.showLocationMenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px; 
  z-index: 1;
  .overflowMetro {
    padding: 0px; 
    width: 316px; 
    height: 400px;
    z-index: 1;
    overflow: auto;
    li {
      display: flex;
      flex-direction: column;
      .selector {
        color: #999!important;
        border-left: 3px solid transparent;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .selected {
        color: #237b98!important;
        background: #eef4fb;
        border-color: #237b98;
      }
    }
  }
}


// .overflowRegion {
//   @extend .overflowMetro;
// }

// scraped:

.location-picker-menu {
  top: 90%;
  left: 5px
}

.location-picker-menu .menu-container {
  width: 40rem;
  left: -9.5rem
}

.location-picker-menu-list {
  width: 100%
}

.location-picker-menu-column {
  border-right: 1px solid rgba(0,0,0,.12);
  width: 50%;
  float: left;
  max-height: 25rem
}