.currentRegion {
  font-family: Helvetica;
}

.locationtable {
  display: flex;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  margin: 2px;
  border-radius: 3px;
  top: 90%;
  left: 5px
}

.overflowMetro {
  background: #fff!important;
  // display: inline-block;
  overflow: auto;
  // position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  width: 200px;
  height: 400px;
  left: 50%;
  margin-left: -10px;
  .selector {
    color: #999!important;
    border-left: 3px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .selected {
    color: #237b98!important;
    background: #eef4fb;
    border-color: #237b98;
  }
}

.overflowRegion {
  @extend .overflowMetro;
  // position: relative;
}

// scraped:

.location-picker-menu {
  top: 90%;
  left: 5px
}

.location-picker-menu .menu-container {
  width: 40rem;
  left: -9.5rem
}

.location-picker-menu-list {
  width: 100%
}

.location-picker-menu-column {
  border-right: 1px solid rgba(0,0,0,.12);
  width: 50%;
  float: left;
  max-height: 25rem
}