.header {
  // visibility: hidden;
  // opacity: 0;
  transform-origin: top;
  transition: opacity .3s linear;
  position: fixed;
  background-color: #fff;
  top: 0; 
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  padding-bottom: 64px;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  .close {
    // border: 3px solid #afda37;
    display: flex;
    justify-content: flex-end;
  }
}

// .header {
//   visibility: visible;
//   opacity: 1;
//   padding-bottom: 64px;
//   box-shadow: 0 2px 8px rgba(153,153,153,.4)
// }

.main {
  display: flex;
  justify-content: center;
}