.searchButton {
  display: flex;
  
}

.header {
  // visibility: hidden;
  // opacity: 0;
  transform-origin: top;
  transition: opacity .3s linear;
  position: fixed;
  background-color: #fff;
  top: 0; 
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  // padding-bottom: 64px;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  .close {
    // border: 3px solid #afda37;
    display: flex;
    justify-content: flex-end;
  }
}


.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 24px;
}

.selections {
  display: flex;
  justify-content: center;
  min-width: 480px;

}

.searchInput {
  display: flex;
  justify-content: center;
}


@import "../node_modules/react-day-picker/lib/style"
