
.container {
  // width: 100%;
}
.input {
  width: 290px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 16px;
  font-stretch: 100%;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 400;
  padding-left: .5rem;
  background-color: rgb(255, 255, 255);
}
.suggestionsContainer {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
  // height: 10px;
  // width: fit-content;
  padding-top: 0.75rem;
  padding-bottom: 0.8125rem;
  overflow: auto;
}
.suggestion {
  display: flex;
  font-family: Helvetica;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  color: #999;
  font-size: 1rem;
  line-height: 1rem;
}
.suggestionHighlighted {
  color: #DA3743!important;
  background: #eef4fb;
  // border-color: #DA3743;
}
