$border: 1px solid rgba(0,0,0,.12);
$selected-color: #237b98;
/* Style the list */
.breadcrumb {
  height: 2rem;
  line-height: 1.5rem;
  font-size: .75rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
  position: relative;
  display: block;
  float: left;
  margin-right: 20px;
  a {
  color: $selected-color;
  text-decoration: none;
  }
  }
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}

.breadcrumb li::before {
  position: absolute;
  margin-left: .25rem;
  border-top: .96rem solid transparent;
  border-bottom: .96rem solid transparent;
  border-left: .6rem solid rgba(0,0,0,.2);
}

.breadcrumb li::after {
  top: 0;
  border-top: .96rem solid transparent;
  border-bottom: 20rem solid transparent;
  border-left: .56rem solid #fff;
  content: " ";
  padding-right: 8px;
}

.breadcrumb li:after, .breadcrumb li:before {
  top: -1px;
  content: " ";
  position: absolute;
  left: 100%;
  margin-left: .25rem;  
}