$border: 1px solid rgba(0,0,0,.08);
$devborder: 0px solid rgb(170, 0, 255);

// body
body {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-weight: 500;
}

.navbarBody {
  background-color: #FFF;
  box-sizing: border-box;
}

// container
.container {
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-left: 2.25rem;
  padding-right: 1.25rem;
  padding-bottom: 5px;
  line-height: 16px;
  .Logo {
    display: flex;
    /* justify-content: center; */
    width: 11.5rem;
    /* padding-right: 3rem; */
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px;
    .logoImg {
      display: block;
    }
  }
  
  .LocationPicker {
    border: $devborder;
    margin-right: auto;
    padding-right: 20px;
    border-right: $border;
    height: 48px;
    padding-bottom: .6rem;
  }
  
  // UserView.jsx
  
  .UserView {
    border: $devborder;
  }
  
  .GuestView {
    border: $devborder;
    li {
      display: inline;
    }
  }
  
  // Search
  
  .Search {
    border: $devborder;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.Topbar {
  display: block;
}




// Breadcrumb

.breadcrumb {
  border: $devborder;
  display: flex;
  justify-content: flex-start;
}

.resData {
  display: flex;
  align-items: flex-end;
}
