$border: 1px solid rgba(0,0,0,.08);
$devborder: 0px solid rgb(170, 0, 255);

// body
body {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  // height: 10rem;
}

// container

.container {
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 57px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 16px;
  .componentWithBorder {
    border-left: $border;
    border-right: $border;
    height: 52px;
    padding-bottom: .6rem;
  }
}

.Logo {
  border: $devborder;
  display: flex;
  justify-content: center;
  width: 8.50rem;
  // padding-left: 2rem;
  padding-right: 2rem
  // height: 3.375rem;
}

.LocationPicker {
  border: $devborder;
  margin-right: auto;
  // padding-left: 1.5rem;
  padding-right: 20px;
  // padding: 0 1rem 0 0;
  // height: 3.375rem;
  // position: absolute;
  // right: 0;
}

// UserView.jsx

.UserView {
  border: $devborder;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  
}

.GuestView {
  border: $devborder;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  li {
    display: inline;
  }
}

// Search

.Search {
  border: $devborder;
  padding-left: 12px;
  padding-right: 12px;
}


// Breadcrumb

.breadcrumb {
  border: $devborder;
  display: flex;
  justify-content: flex-start;
}

.resData {
  display: flex;
  align-items: flex-end;
}
