$border: 1px solid rgba(0,0,0,.12);
$selected-color: #237b98;

.currentRegion {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  .pin {
    padding: 10px;
  }
  .region {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
  }
}

.currentRegion:hover {
  @extend .currentRegion ;
  cursor: pointer;
  color: black;
}

.arrow {
  padding-top: 27px;
  padding-left: 10px;
}

.subheader {
  padding: 1rem;
  border-bottom: $border
}

.subfooter {
  padding: 1rem;
  border-top: $border;
}

.showLocationMenu {
  display: none;
  position: absolute;
  left: 3rem;
  background-color: #fff;
  width: 638px;
  height: 497px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 0px; 
  z-index: 1;
  .overflowMetro {
    padding: 0px; 
    width: 317px; 
    height: 400px;
    z-index: 1;
    overflow: auto;
    li {
      line-height: 16px;
      font-size: 16px;
      font-weight: 500;
      display: block;
      color: #999!important;
      border-left: 3px solid transparent;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: .8rem 1rem;
      position: relative;
      .selector {
        color: #999!important;
        border-left: 3px solid transparent;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .selected {
      color: $selected-color!important;
      background: #eef4fb!important;
      border-color: $selected-color;
    }
    li:hover {
      color: $selected-color!important;
      background: #eef4fb;
      border-color: $selected-color
    }
  }
  .overflowRegion {
    border-left: $border
  }
}


// .overflowRegion {
//   @extend .overflowMetro;
// }

// scraped:

// .location-picker-menu {
//   top: 90%;
//   left: 5px
// }

// .location-picker-menu .menu-container {
//   width: 40rem;
//   left: -9.5rem
// }

// .location-picker-menu-list {
//   width: 100%
// }

// .location-picker-menu-column {
//   border-right: 1px solid rgba(0,0,0,.12);
//   width: 50%;
//   float: left;
//   max-height: 25rem
// }