.magnifyingGlass:hover {
  cursor: pointer;
  color: black;
}

.header {
  transform-origin: top;
  transition: opacity .3s linear;
  position: fixed;
  background-color: #fff;
  top: 0; 
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2000!important;
  visibility: visible;
  opacity: 1;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  padding-bottom: 64px;
  .close {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 25px;
  }
  .close:hover {
    cursor: pointer;
    svg {
      fill: black;
    }
  }
  h3 {
    padding-top: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 24px;
  }
}

.selectionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 480px;
  .selector {
    width: 158px;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-size: 16px;
    font-stretch: 100%;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    padding-left: .5rem;
    background-color: rgb(255, 255, 255);
  }
  .autosuggest {
    margin: 0 1.5rem;
  }
  .searchbutton {
    button {
      width: 144px;
      height: 48px;
      text-align: center;
      background-color: #da3743;
      border-style: solid;
      border-radius: 4px;
      border-color: #b8222d;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      transition: background-color 300ms ease-out;
    }
  }
}

.searchInput {
  display: flex;
  justify-content: center;
}


// @import "../node_modules/react-day-picker/lib/style"
