.topHeader {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  height: 28px;
  a {
    text-decoration: none;
    color: #717171;
    padding-left: 16px;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

.linkWithArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  padding-top: 32px;
  padding-left: 5px;
}