$border: 1px solid rgba(0,0,0,.08);
$devborder: 1px solid rgb(170, 0, 255);

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar {
  padding-right: 12px;
  background: url(../calendar.png) no-repeat;
  background-size: 20px;
  width: 10px;
  color: transparent;
}

.calendar:hover {
  @extend .calendar ;
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  .helloUser {
    padding-left: 2px;
    border-left: 1px solid rgba(0,0,0,.08);
    height: 18px;
    color: #333;
  }
  .arrow {
    padding-top: 28px;
  }
}

.welcome:hover {
  @extend .welcome ;
  cursor: pointer;
  color: black;
  .arrow:hover {
    cursor: pointer;
    color: black;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 5rem;
  right: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 0px; 
  z-index: 1;
}

.dropdownUpcoming {
  @extend .dropdown ;
  width: 330px;
}

.reservationInfo {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: Helvetica;
  border-bottom: $border;
  .resName {
    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      color: blue;
    }
  }
  .resDetails {
    color: #666;
    font-weight: 500;
    font-size: .875rem;
    padding: 2px;
  }
  .resLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: .5rem;
    a {
      text-decoration: none;
      font-size: .875rem;
      color: blue;
    }
    .invite {
      margin-right: auto;
    }
    .rightlinks {
      padding-left: 16px;
    }
  }
}

.viewAll {
  display: block;
  padding: 16px;
  font-family: Helvetica;
    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      color: blue;
    }
}

.dropdownUser {
  @extend .dropdown ;
  width: 201px;
}

.subheader {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 14px;
  color: #666;
  font-family: Helvetica;
  border-bottom: $border;
  .pointsLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    color: #666;
  }
  .pointsLine2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .pointsInfo {
      display: flex;
      flex-direction: row;
      font-weight: 500;
      .pointsNum {
        font-size: 16px;
        color: black;
        padding-right: 2px;
      }
      .pointsPTS {
        font-size: 11px;
        color: #666;
      }
    }
  }
  .pointsBar {
    padding-top: .5rem;
  }
  .pointsLink {
    padding-top: .5rem;
    a {
      text-decoration: none;
      color: blue;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.userMenu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Helvetica;
  background-color: transparent;
  div a {
    text-decoration: none;
    color: #666!important;
    display: block;
    padding: .7rem 1rem;
  }
  div:hover {
    background-color: #fbfbfb;
    color: black;
  }
}